
PORT=3000
NODE_ENV=production

DB_HOST=infra_postgres
DB_PORT=5432
DB_NAME=infra
DB_USER=flowbuilding
DB_PASS=0MJlBQ2ti1ZRq6S


JWT_SECRET=<DM%5O)vP;wIY4P4sg4:.[%1M_0

ADMIN_USER=jrtubulacao
ADMIN_PASS=jr@485005$


WHATSAPP_NUMBER=5519998038607


EMAIL_USER=jrtubulacaodegas@gmail.com
EMAIL_PASS=Ricardinho&jessica1


RECAPTCHA_SITE_KEY=6LdAO5QsAAAAADDbLJJ8mk_uowa88XeRZfS9HLQ0
RECAPTCHA_SECRET_KEY=6LcVNpQsAAAAADoRwL5DwO1tnB-_SdJ5hW-ICEr9
